---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";

const { title, description, permalink, current } = Astro.props;
---

<html lang="es">
  <head>
    <BaseHead {title} {description} {permalink} />
    <ViewTransitions />
  </head>

  <body>
    <Header {current} />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  main {
    padding: 2rem 0;
    min-height: calc(100vh - 200px);
  }
</style>

<script>
  // Este script se ejecutará en cada navegación
  document.addEventListener('astro:page-load', () => {
    console.log('Página cargada con View Transitions');
  });
</script>
