---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

export interface Props {
  title: string;
  description: string;
  permalink: string;
  current?: string;
}
const { title, description, permalink, current } = Astro.props;
---

<html lang="es">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
  </head>

  <body>
    <Header current={current} />
    <main>
      <slot />
    </main>
    <Footer />
    <audio id="audio-player" loop>
      <source src="/worldsview/assets/ruleworld.mp3" type="audio/mp3">
    </audio>
    <video id="video-player" loop muted>
      <source src="/worldsview/assets/tocadiscos.mp4" type="video/mp4" />
    </video>
  </body>
</html>

<style>
  .layout {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-height: 100vh;
    padding: 25px;
    gap: 1rem;
  }

  @media screen and (max-width: 480px) {
    .layout {
      padding: 10px;
      gap: 0.5rem;
    }
  }

  .tocadiscos {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  main {
    flex: 1;
    position: relative;
    margin: 0 auto;
    max-width: 1400px;
    padding: 2em;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  @media screen and (max-width: 1020px) {
    main {
      padding: 1.5em;
    }
  }

  @media screen and (max-width: 480px) {
    main {
      padding: 1em;
    }
  }
</style>
